absl-py==0.12.0
affine==2.3.0
antlr4-python3-runtime==4.8
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
arrow==0.17.0
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
attrs==19.3.0
Automat==20.2.0
autopep8==1.6.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
base==1.0.4
basemap==1.2.2+dev
beautifulsoup4==4.9.3
black==19.10b0
bleach==3.3.0
bokeh==2.0.0
bs4==0.0.1
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
clang==5.0
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
clize==4.1.1
cloudpickle==2.0.0
configparser==5.0.2
constantly==15.1.0
cplex==20.1.0.1
cryptography==36.0.0
cssselect==1.1.0
cvxopt==1.2.7
cvxpy==1.1.15
cycler==0.10.0
Cython==0.29.22
dask==2.18.0
dataclasses==0.6
datacompy==0.7.3
decorator==4.4.2
defusedxml==0.7.1
distributed==2.18.0
dlib==19.22.1
docker-pycreds==0.4.0
docplex==2.20.204
docutils==0.17.1
easydict==1.9
ecos==2.0.7.post1
efficientnet==1.1.1
entrypoints==0.3
epydoc==3.0.1
et-xmlfile==1.1.0
fake-useragent==0.1.11
Faker==9.8.1
Fiona==1.8.19
Flask==1.1.2
flatbuffers==1.12
freegames==2.3.2
future==0.18.2
fvcore==0.1.5.post20211023
gast==0.4.0
geopandas==0.9.0
geos==0.2.2
gitdb==4.0.7
GitPython==3.1.14
google-auth==1.28.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.41.1
h2==3.2.0
h5py==3.1.0
har2case==0.3.1
HeapDict==1.0.1
hpack==3.0.0
httprunner==3.1.4
hydra-core==1.1.1
hyperframe==5.2.0
hyperlink==21.0.0
hyperlpr==0.0.2
idna==2.9
imageio==2.9.0
imagepy==0.22
imantics==0.1.12
imgaug==0.4.0
importlib-resources==5.4.0
imutils==0.5.4
incremental==21.3.0
input==0.0.0
intel-openmp==2021.4.0
iopath==0.1.9
ipykernel==5.5.3
ipython==7.23.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
iso8601==1.0.2
itemadapter==0.4.0
itemloaders==1.0.4
itsdangerous==1.1.0
jedi==0.18.0
jieba==0.42.1
Jinja2==2.11.2
jmespath==0.9.5
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.2.0
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keras==2.7.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
labelme2coco==0.1.2
labs==0.0.4
libclang==12.0.0
lightgbm==3.3.2
llvmlite==0.37.0
loguru==0.4.1
lxml==4.6.2
m3u8==0.9.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.3
matplotlib-inline==0.1.2
metrics==0.3.3
mindspore==1.2.1
mistune==0.8.4
mkl==2021.4.0
more-itertools==8.6.0
mpmath==1.2.1
msgpack==1.0.3
munch==2.5.0
natsort==8.0.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netaddr==0.8.0
networkx==2.5.1
nose==1.3.7
notebook==6.3.0
numba==0.54.1
numexpr==2.7.3
numpy==1.21.0
numpy-stl==2.16.3
oauthlib==3.1.0
od==1.0
omegaconf==2.1.1
opencv-python==4.5.1.48
opencv-python-headless==4.5.4.60
openpyxl==3.0.7
opt-einsum==3.3.0
ordered-set==4.0.2
osqp==0.6.2.post0
packaging==20.8
pandas==1.2.1
pandocfilters==1.4.3
parsel==1.6.0
parso==0.8.2
pathlib2==2.3.5
pathspec==0.5.5
pathtools==0.1.2
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pixellib==0.7.1
plotly==4.14.3
pluggy==0.13.1
portalocker==2.3.2
prettytable==2.0.0
priority==1.3.0
proj==0.2.0
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.18
props==0.0.3
Protego==0.1.16
protobuf==3.15.8
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycodestyle==2.8.0
pycparser==2.20
pydantic==1.7.3
pydicom==2.2.2
PyDispatcher==2.0.5
pydot==1.4.2
pyecharts==1.9.0
pyecharts-snapshot==0.2.0
pyee==8.1.0
Pygments==2.2.0
pyocr==0.8
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyppeteer==0.2.5
pyproj==3.0.0.post1
Pypubsub==4.0.3
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.2
PyQtChart==5.15.5
PyQtChart-Qt5==5.15.2
pyrsistent==0.17.3
pyshp==2.1.3
pystackreg==0.2.5
pytest==5.4.3
pytest-html==2.1.1
pytest-metadata==1.11.0
python-dateutil==2.8.1
python-dotenv==0.19.1
python-gantt==0.6.0
python-utils==2.5.6
pytz==2020.5
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==22.0.3
qdldl==0.1.5.post0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
qtconsole==5.0.3
QtPy==1.9.0
qudida==0.0.4
queuelib==1.6.2
rasterio==1.2.2
rasterstats==0.15.0
rc==0.3.1
read-roi==1.6.0
redis==3.5.3
references==0.1.0
regex==2020.11.13
requests==2.23.0
requests-oauthlib==1.3.0
resnest==0.0.6b20210114
retrying==1.3.3
rsa==4.7.2
Rtree==0.9.7
scikit-image==0.18.1
scikit-learn==0.23.0
scikit-optimize==0.7.4
scipy==1.4.1
Scrapy==2.5.1
scs==2.1.4
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
sentry-sdk==0.14.4
sequential==1.0.0
service-identity==21.1.0
Shapely==1.7.1
shortuuid==1.0.1
sigtools==2.0.2
simplejson==3.17.2
six==1.16.0
sklearn==0.0
slacker==0.14.0
smmap==4.0.0
snapshot-selenium==0.0.2
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.2.1
statsmodels==0.12.2
subprocess32==3.5.4
svgwrite==1.4.1
sympy==1.8
tabulate==0.8.9
tbb==2021.4.0
tblib==1.7.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
terminado==0.9.4
tesseract==0.1.3
testpath==0.4.4
text-unidecode==1.3
Theano==1.0.5
thop==0.0.31.post2005241907
threadpoolctl==2.1.0
tifffile==2021.4.8
toml==0.10.2
toolz==0.11.2
torch==1.10.0
torchvision==0.11.1
tornado==6.1
tqdm==4.61.2
traitlets==5.0.5
Twisted==21.7.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
ui==0.1.4
urllib3==1.25.9
w3lib==1.22.0
wandb==0.10.25
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.12.1
wxPython==4.1.1
xgboost==1.5.1
xlrd==2.0.1
xlwt==1.3.0
xmljson==0.2.1
yacs==0.1.8
zict==2.0.0
zipp==3.6.0
zope.interface==5.4.0
